<!DOCTYPE html>
<html>

<head>
  <title>{{.Title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" type="image/png" href="https://kubernetes.io/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }

    .v-application {
      height: 100vh !important;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <v-app dark>
      <v-main>
        <v-layout column align-center justify-center class="black--text">

          <h1 class="black--text mb-2 display-1 text-xs-center">${ info.message }</h1>
          <div class="subheading mb-3 text-xs-center">Served by <b>${ info.hostname }</b></div>
          <template>
            <v-card>
              <v-card-title>${ info.hostname }</v-card-title>
              <v-card-text>
                <div class="my-4 text-subtitle-1"><strong>Version: </strong>${ info.version }</div>
              </v-card-text>
            </v-card>
          </template>
        </v-layout>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      delimiters: ['${', '}'],
      el: '#app',
      vuetify: new Vuetify(),
      data: function () {
        return {
          info: {}
        }
      },
      created: function () {
        this.getInfo();
        this.timer = setInterval(this.getInfo, 2000)
      },
      methods: {
        getInfo: function () {
          const xhr = new XMLHttpRequest();
          let self = this;
          xhr.open('GET', "info")
          xhr.onload = function () {
            data = JSON.parse(xhr.responseText)
            self.info = data
            document.title = data.hostname
          }
          xhr.onerror = function () {
            console.log(xhr.responseText || 'Network request failed')
          }
          xhr.send()
        }
      }
    })
  </script>
</body>

</html>